html {
    font-size: 62.5%;
}

main {
    text-align: center;
}

/* .main>div {
    display: inline-block;
} */

.calculator {
    display: inline-flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

#display {
    text-align: right;
    font-size: 1rem;
    margin: 2rem 0;
    background-color: white;
}

/* Chrome, Safari, Edge, Opera hide spin button*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox hide spin button*/
input[type=number] {
    -moz-appearance: textfield;
}

.calculator__keyboard {
    display: grid;
    /* width: 90%; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

div.key {
    border: 1px solid black;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
}

.row1-col3 {
    grid-row: 1;
    grid-column: 3;
}

.row1-col4 {
    grid-row: 1;
    grid-column: 4;
}

.row2-col1 {
    grid-row: 2;
    grid-column: 1;
}

.row2-col2 {
    grid-row: 2;
    grid-column: 2;
}

.row2-col3 {
    grid-row: 2;
    grid-column: 3;
}

.row2-col4 {
    grid-row: 2;
    grid-column: 4;
}

.row3-col1 {
    grid-row: 3;
    grid-column: 1;
}

.row3-col2 {
    grid-row: 3;
    grid-column: 2;
}

.row3-col3 {
    grid-row: 3;
    grid-column: 3;
}

.row3-col4 {
    grid-row: 3;
    grid-column: 4;
}

.row4-col1 {
    grid-row: 4;
    grid-column: 1;
}

.row4-col2 {
    grid-row: 4;
    grid-column: 2;
}

.row4-col3 {
    grid-row: 4;
    grid-column: 3;
}

.row4-col4 {
    grid-row: 4;
    grid-column: 4;
}

.row5-col1 {
    grid-row: 5;
    grid-column: 1;
}

.row5-col2 {
    grid-row: 5;
    grid-column: 2;
}

.row5-col3 {
    grid-row: 5;
    grid-column: 3;
}

.row5-col4 {
    grid-row: 5;
    grid-column: 4;
}